body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(187, 181, 181);
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

main {
    display: flex; /* Flexbox activé pour le contenu principal */
    padding: 0px;
    
}

section {
    flex: 1 0 auto; /* Taille flexible pour chaque section */
    margin-bottom: 20px;
    box-shadow: 5px 5px 20px black; /* Ombre portée pour séparer les sections */
    border-radius: 5%;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.btn {
    background-color: #181819;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 15%;

}

footer {
    background-color: rgb(190, 183, 183);
    padding: 20px;
    text-align: center;
}

section{
    text-align: center;
}

div{ 
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 53px;
    display: inline-block;
}

img{
    border-radius: 10%;
    width: 90px;
}


.img5{
    height: 300px;
    width: 300px;
    border-radius: 10%;
}

h1:before{
    content: 'ÉCOLE SUPÉRIEURE POLYTECHNIQUE';
    font-size: 60%;
    animation: animate 8s infinite;
}

@keyframes animate {
    25%{
        font-size: 100%;
        opacity: 0;
    }
    50%{
        font-size: 100%;
        opacity: 1;
    }
    65%{
        font-size: 100%;
        opacity: 0;

}
}